{{>head-matter}}

<h2>Kontakt</h2>

<p>Aron Wall, der Autor des ursprünglichen Blogs hat auf <a href="http://wall.org/~aron/">seiner Webseite</a> Kontaktdaten hinterlegt. Bei Fragen zu einzelnen Texten kann im Kommentarbereich auf der Originalseite des entsprechenden Texts kommentiert werden.</p>

<p>Diese Seite und die Übersetzungen stammen von mir, Patrick Zimmermann. Ich bin ein ITler aus dem Raum Stuttgart. Am einfachsten kann man mich per E-Mail kontaktieren. Meine E-Mailadresse ist <span id='my-e-mail'/>der erste Buchstabe meines Vornamens gefolgt von den ersten drei Buchstaben meines Nachnamens gefolgt von einem at und posteo.de</span>.</p>

{{>foot-matter}}

