{{>head-matter}}

<div class="row medium-10 large-5 columns">
<h2>Kontakt</h2>

<p>Ich bin Patrick Zimmermann, ein ITler aus dem Raum Stuttgart. Am einfachsten kann man mich per
E-Mail kontaktieren. Meine E-Mailadresse ist <span id='my-e-mail'/>der erste Buchstabe meines Vornamens gefolgt von den ersten drei Buchstaben meines Nachnamens gefolgt von einem at und posteo.de</span>.</p>
</div>

{{>foot-matter}}

