{{>head-matter}}

<div class="callout large primary">
<div class="row column text-center">
<h1>Übersetzungen von Undivided Looking</h1>
<h2 class="subheader">Gedanken zu Physik und Theologie</h2>
</div>
</div>
 
<div class="row medium-10 large-5 columns">
<p><a href="http://www.wall.org/~aron/blog/">Undivided Looking</a> ist ein englischsprachiger Blog von <a href="http://wall.org/~aron/">Aron Wall</a>. Der Blog behandelt hauptsächlich christliche Theologie und (zu einem kleineren Teil) Physik und Wissenschaft im Allgemeinen. Auf dieser Webseite befinden sich deutsche Übersetzungen einiger Texte aus diesem Blog. Die Übersetzungen entstehen auf Bedarfsbasis. Am Anfang aller Texte befindet sich ein Link zum entsprechenden Originaltext.</p>
</div>

{{>foot-matter}}

