{{>head-matter}}

<div class="callout large primary">
<div class="row column text-center">
<h1>Übersetzungen von <wbr>Undivided&nbsp;Looking</h1>
<h3 class="subheader">Gedanken zu Physik und Theologie</h3>
</div>
</div>
 
<p><a href="http://www.wall.org/~aron/blog/">Undivided&nbsp;Looking</a> ist ein englischsprachiger Blog von <a href="http://wall.org/~aron/">Aron Wall</a>. Der Blog behandelt hauptsächlich christliche Theologie, Physik und Wissenschaft im Allgemeinen. Auf dieser Webseite sind einige der Einträge aus diesem Blog ins Deutsche übersetzt. Ich plane nach und nach weitere Übersetzungen einzustellen.</p>

{{>foot-matter}}

