{{>head-matter}}

<h2>Texte</h2>
<p>Sortiert nach dem Datum der ursprünglichen Veröffentlichung.</p>
<p>
<ul>
{{#texts}}
    <li><a href="{{link}}">{{title}}</a> - <small><a href="{{originalLink}}">{{originalTitle}}</a> {{originalDate}}</small></li>
{{/texts}}
</ul>
</p>

{{>foot-matter}}

