{{>head-matter}}

<div class="row medium-10 large-5 columns">
<h2>{{title}}</h2>
<small>Original: <a href="{{originalLink}}">{{originalTitle}}</a> vom {{originalDate}}</small>

<p>{{{content}}}</p>
</div>

{{>foot-matter}}

